*{
  margin:0;
  padding:0;
}
.top-nav{
  padding: 1%;
  text-align:center;
  margin-top: 100px;
  background-color:rgb(31, 31, 104);
  border-color:yellow;
  border:solid 10px rgb(19, 219, 219);
  border-radius: 10px;
}

.top-nav li{
  display:inline-block;
  padding-left: 30px;
}
a{
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 1px;
  transition: 0.3s;
}
a:hover{
  color: rgb(25, 221, 221);
  
}